<div class="paperony">
	<div class="container">
		<div class="row">
			<div class="col-md-15">
				<ul>
					<li class="inner_link"><a ui-sref=".alcohol">Alcohol</a></li>
					<li class="inner_link"><a ui-sref=".cocktails">Cocktails</a></li>
					<li class="inner_link"><a ui-sref=".low_alcohol">Beer</a></li>
					<li class="inner_link"><a ui-sref=".coffee">Coffee/Tea</a></li>
					<li class="inner_link"><a ui-sref=".juices">Juices</a></li>
					<li class="inner_link"><a ui-sref=".wine">Wine</a></li>

				</ul>	
			</div>
		</div>
	</div>		
</div>

<div ui-view></div>